allure-pytest==2.13.5
allure-python-commons==2.13.5
attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.3.2
exceptiongroup==1.2.2
idna==3.8
iniconfig==2.0.0
packaging==24.1
pluggy==1.5.0
psycopg2-binary==2.9.9
pytest==8.3.2
python-dotenv==1.0.1
pytest-xdist==3.6.1
requests==2.32.3
six==1.16.0
urllib3==2.2.2
simplejson==3.19.3
pytest-sugar==1.0.0
pytest-rerunfailures==14.0
